{% extends 'base.html' %}

{% block content %}

<h1>This is the page for creating a post</h1>

<form class="m-2">
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
    </div>
    <div class="form-group">
      <!-- content -->
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      </select>
    </div>
    <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Example file input</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </form>
  </form>
{% endblock %}


<!-- title = models.CharField(max_length=150)
content = models.TextField()
image = CloudinaryField('image', blank=True, null=True)
video = CloudinaryField(resource_type='video', blank=True, null=True) -->