{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Post content -->
<div class="container mt-5">
  <div class="custom-posts border rounded pt-1">
    <h2 class="text-center">{{post.title}}</h2>
    <div class="text-center"><i class="fa-solid fa-user"></i> {{ post.author }}</div>
    <div class="text-center"><i class="fa-solid fa-calendar-day"></i> {{ post.created_on | date:'F d Y H:i' }}</div>
    <div class="text-center"><i class="fa-solid fa-pen-to-square"></i> Latest edit: {{ post.modified_on | date:'F d Y H:i' }}</div>
    <hr>
    <div class="row p-5">
      {% if post.image %}
      <div class="col-md-4">
        <img class="img-fluid mb-1 img-thumbnail" src="{{ post.image.url }}" alt="Image of {{ post.title }}">
      </div>
      <div class="col-md-8 text-center">
        {{ post.content | linebreaks }}
      </div>
      {% else %}
      <div>
        {{ post.content | linebreaks }}
      </div>
      {% endif %}
    </div>
  </div>
  <div>
    <!-- Edit and delete icons (will appear only to person who created post) -->
    {% if post.author|stringformat:"s" == user.username|stringformat:"s" %}
    <div class="d-inline-flex w-100">
      <span class="me-auto">
        <i class="fa-solid fa-bread-slice"></i>
        {{ post.number_of_likes}}
        <i class="fa-solid fa-comment"></i>
        {{ comments|length }}
      </span>
      <a href="{% url 'update_post' post.slug %}" aria-label="Edit Post" class="mx-1"><i
          class="fa-solid fa-pen fa-xl"></i></a>
      <a href="{% url 'delete_post' post.slug %}" aria-label="Delete Post" class="mx-1"><i
          class="fa-solid fa-xmark fa-2xl red-custom-color"></i></a>
    </div>

    {% else %}
    <!-- Likes and comment icons for authenticated users -->
    <span class="me-auto">
      {% if user.is_authenticated %}
      <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
        {% csrf_token %}
        {% if liked %}
        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn btn-link">
          <i class="fa-solid fa-bread-slice fa-lg brown-custom-color"></i></button>
        {{ post.number_of_likes}}
        <i class="fa-solid fa-comment"></i>
        {{ comments|length }}
        {% else %}
        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn btn-link">
          <i class="fa-solid fa-bread-slice gold-custom-color"></i></button>
        {{ post.number_of_likes}}
        <i class="fa-solid fa-comment"></i>
        {{ comments|length }}
        {% endif %}
      </form>
      {% else %}
      <!-- Likes and comment icons for anonymous users -->
      <i class="fa-solid fa-bread-slice"></i>
      {{ post.number_of_likes}}
      <i class="fa-solid fa-comment"></i>
      {{ comments|length }}
    </span>
    {% endif %}
    {% endif %}
  </div>
</div>

{% if user.is_authenticated %}
<!-- Comment form for leaving comments -->
<h3 class="text-center">Leave a Comment: </h3>
<form method="POST" class="mx-5">
  {{ comment_form | crispy }}
  {% csrf_token %}
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

{% endif %}
<!-- Comments section -->
{% for comment in comments %}
<div class="card m-5 shadow pb-1">
  <div class="card-body">
    <h5 class="card-title"><i class="fa-solid fa-user"></i> {{ comment.author }} </h5>
  </div>
  <h6 class="card-subtitle mb-2 text-muted px-2">
    <i class="fa-solid fa-calendar-day"></i>{{ comment.created_on | date:'F d Y H:i' }}
  </h6>
  <p class="card-text px-2">{{comment.content}}</p>
</div>

{% endfor %}

{% endblock %}