{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="">
    <h2 class="text-center">{{post.title}}</h2>
    <div class="text-center"><i class="fa-solid fa-user"></i> {{ post.author }}</div>
    <div class="text-center"><i class="fa-solid fa-calendar-day"></i> {{ post.created_on | date:'F d Y' }}</div>
    <!-- <span>Latest Edit: {{ post.modified_on | date:'F d Y' }}</span> -->
    <hr>
    <div class="row">
      {% if post.image %}
        <img class="img-fluid mb-1" src="{{ post.image.url }}" alt="Image of {{ post.title }}">

      {% endif %}
      <div>
        {{ post.content }}
      </div>
    </div>
  </div>
  <div>

    {% if post.author|stringformat:"s" == user.username|stringformat:"s" %}
    <div class="d-inline-flex w-100">
      <span class="me-auto">
        <i class="fa-solid fa-bread-slice"></i>
        {{ post.number_of_likes}}
        <i class="fa-solid fa-comment"></i>
        {{ comments|length }}    
      </span>
      <a href="#" aria-label="Edit Post" class="mx-1"><i class="fa-solid fa-pen fa-xl"></i></a>
      <a href="#" aria-label="Delete Post" class="mx-1"><i class="fa-solid fa-xmark fa-2xl rediconcolor"></i></a>
    </div>
    {% endif %}
  </div>


</div>


<!-- Comments section -->
{% for comment in comments %}
<div class="card m-5 shadow">
  <div class="card-body">
    <h5 class="card-title"><i class="fa-solid fa-user"></i> {{ comment.author }}</div></h5>
    <h6 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-calendar-day"></i> {{ comment.created_on | date:'F d Y' }}</h6>
    <p class="card-text">{{comment.content}}</p>
  </div>
</div>

{% endfor %}

{% endblock %}