:root{
    --gold: #F7EAC9;
    --brown: #A94C1E;
    --blue: #7F95D1;
}

main{
    min-height: 100vh;
}

.bg-custom-brown{
    background-color: var(--brown);
}

.custom-posts{
    background-color: var(--gold);
}

.red-custom-color{
    color: red;
}

.brown-custom-color{
    color: var(--brown);
}

.gold-custom-color{
    color: var(--gold);
}

.blue-custom-color{
    color: var(--blue);
}