:root{
    --gold: #f2e6c8;
    --brown: #63321a;
}

.bg-custom-brown{
    background-color: var(--brown);
}

.custom-posts{
    background-color: var(--gold);
}

.rediconcolor{
    color: red;
}

.brown-icon-color{
    color: var(--brown);
}

.gold-icon-color{
    color: var(--gold);
}