:root{
    --gold: #F7EAC9;
    --brown: #A94C1E;
    --blue: #7F95D1;
}

/* fonts */
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    font-family: 'Open Sans', sans-serif;
}

div, p, span{
    font-family:'Roboto', sans-serif;
}

.post-min-height{
    min-height: 80%;
}

/* Custom color classes */
.bg-custom-brown{
    background-color: var(--brown);
}

.custom-posts{
    background-color: var(--gold);
}

.red-custom-color{
    color: red;
}

.brown-custom-color{
    color: var(--brown);
}

.gold-custom-color{
    color: var(--gold);
}

.blue-custom-color{
    color: var(--blue);
}

/* Messages div in base.html */
#custom-message-div{
    display: none;
    top: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    background-color: rgb(252, 106, 106);
}